{% extends 'master.html' %}

{% block title %}
{{member.first_name}}'s DETAILS
{% endblock %}

{% block content %}
    <div class="mycard">
        <h1>PERSONAL DETAIL</h1>
        <h3>Full Name : {{member.first_name}} {{member.last_name}}</h3>
        <p>Email ID : {{member.email}}</p>
        <p>Phone Number : {{member.phone}}</p>
        <p>City : {{member.city}}</p>
        <p>State : {{member.state}}</p>
        <br><br>
        <p>&larr; Back to <a href="/members">All Members Page</a></p>
    </div>1

{% endblock %}